body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

button {
  border: none;
  padding: 10px 20px;
  background-color: #c7f57d;
  color: #111;
}

button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#status {
  text-align: center;
  min-height: 20px;
}
