body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  max-width: 200px;
}

li:hover {
  cursor: pointer;
}

#status {
  text-align: center;
  min-height: 20px;
  position: relative;
  top: -180px;
  left: 100px;
}

.theme-light {
  background-color: #fefefe;
}

.theme-light button {
  color: #111;
  background-color: #c7f57d;
}

.theme-light button:hover {
  background-color: #597a25;
  color: #eee;
}

.theme-light li {
  background-color: #dff4be;
  color: #111
}

.theme-light li:hover {
  background-color: #597a25;
  color: #eee;
}

.theme-light p {
  color: #111;
}

.theme-dark {
  background-color: #121212;
}

.theme-dark button {
  color: #eee;
  background-color: #444444;
}

.theme-dark button:hover {
  background-color: #E0E0E0;
  color: #121212;
}

.theme-dark li {
  background-color: #B0B0B0;
  color: #121212;
}

.theme-dark li:hover {
  background-color: #888888;
  color: #121212;
}

.theme-dark p {
  color: #eee;
}

.theme-high-contrast {
  background-color: #2a9d8f;
}

.theme-high-contrast button {
  color: #264653;
  background-color: #f4a261;
}

.theme-high-contrast button:hover {
  background-color: #e76f51;
  color: #264653;;
}

.theme-high-contrast li {
  background-color: #e9c46a;
  color: #264653;
}

.theme-high-contrast li:hover {
  background-color: #e76f51;
  color: #264653;;
}

.theme-high-contrast p {
  color: #eee;
}

.theme-matrix {
  background-color: #121212;
}

.theme-matrix button {
  color: #121212;
  background-color: #36ba01;
}

.theme-matrix button:hover {
  background-color: #36ba01;
  color: #121212;
}

.theme-matrix li {
  background-color: #121212;
  color: #00ff2b;
}

.theme-matrix li:hover {
  background-color: #36ba01;
  color: #121212;
}

.theme-matrix p {
  color: #00ff2b;
}
